.imgList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.imgItem {
  flex-basis: calc((100% - 10px) / 5);
}
